<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="showSkip">
      <ion-button (click)="startApp()" color="primary">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" style="height: -webkit-fill-available;">

    <ion-slide color="primary" class="slideOneBackgorund paddingBottom2">
      <ion-col>
        <h2 class="slide-title">
          <b> Welcome to DocEngage Billing App </b>
        </h2>
        <p> Find Invoice - Recieve the Payment* </p>
      </ion-col>
    </ion-slide>

    <ion-slide class="slideThreeBackgorund">
      <ion-col>
      <h2 class="slide-title"><b>Take Actions..</b></h2>
      <p>
        Recieve the Payment, all on the Road
      </p>
      <ion-button size="large" fill="clear" class="tutorialButtonColor" (click)="startApp()">
        Continue
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-slide>

  </ion-slides>

  <!-- <ion-slides pager="false" style="height: -webkit-fill-available; background:aquamarine">
    <ion-slide >
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides> -->
</ion-content>