<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <img src="../assets/img/support.png" class="supportImage" />
      <p class="supportParag"><span class="supportText">DocEngage Support</span><br /><span class="supportCode">( Press
          1 for Support )</span></p>
    </ion-item>
  </ion-card>

  <ion-grid>
    <ion-row class="ion-padding-top labelStyle">
      <ion-col col-6>
        <ion-button color="primary" shape="round" position="floating" (click)="callPatientMobile(8884242424)">
          <ion-icon name="md-call"></ion-icon>
          &nbsp; &nbsp;Call Now
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>