
    .itemStyle{
        font-size: 20px;
        font-weight: bold;
        color: #287CB3;
        margin-bottom: -15px;
    }
    .careCentrStyle{
        font-size: smaller;
    }
    .paddingLeftZero{
        padding-left: 0px;
    }
    .paddingLeft5{
        padding-left: 5px !important;
    }
    .paddingZero{
        padding: 0px;
    }
    .header-md::after{
        background-image: none !important;
    }
    .has-refresher > .scroll-content{
        border-top: 1px solid #fff !important;
    }
    .list-md .item-block .item-inner {
        border-bottom: none !important;
    }
    .toolbar .toolbar-background-md {
        background-color: #fff !important;
    }
    .scroll-content {
        margin-top: 7px !important;
    }
    .marginTop5{
        margin-top: 12px !important;
    }
    .textAlignRight{
        text-align: right;
    }


