<!--
  Generated template for the RecievePaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="ion-padding" fullscreen>
  <ion-icon class="marginTop5" name="arrow-back" style="zoom:1.4" (click)="dismiss(false)"></ion-icon>

  <ion-item lines="none">
    <ion-col>
      <p class="itemStyle">{{ invoiceInfo.fullname }}</p>
      <p class="careCentrStyle">{{ invoiceInfo.care_center_name }}</p>
    </ion-col>
  </ion-item>
  <ion-list>
    <ion-grid *ngIf="!addToWallet" lines="none">
      <ion-row style="border-bottom: 1px solid #cecbcb;margin-top: -15px;">
        <ion-col size='6'>
          <ion-item class="paddingLeftZero" lines="none">
            Invoice Ref
          </ion-item>
          <ion-item class="paddingLeftZero" *ngIf="walletAmount && walletAmount > 0 " lines="none">
            Wallet Amount
          </ion-item>
          <ion-item class="paddingLeftZero" lines="none">
            Balance Amount </ion-item>
          <ion-item class="paddingLeftZero" lines="none">
            Payment Amount
          </ion-item>
          <ion-item class="paddingLeftZero" lines="none">
            Payment Mode
          </ion-item>
        </ion-col>

        <ion-col size='6'>
          <ion-item class="paddingLeftZero" lines="none">
            {{ recievePayment.invoiceRef }}</ion-item>
          <ion-item class="paddingLeftZero" *ngIf="walletAmount && walletAmount > 0" lines="none">
            &#x20b9;{{ walletAmount }}</ion-item>
          <ion-item class="paddingLeftZero" lines="none">
            &#x20b9;{{ invoiceInfo.balance_amount }} </ion-item>
          <ion-item class="paddingLeftZero">
            <ion-input type="number" (oninput)="settingDueDate()" maxlength="7" placeholder="Enter Amount"
              [(ngModel)]="recievePayment.paymntAmount"></ion-input>
          </ion-item>
          <ion-item class="paddingLeftZero" style="width: 200%;" lines="none">
            <span class="paddingZero"> <i class="fa fa-rupee"></i></span>
            <ion-select interface="popover" placeholder="Select Mode" [(ngModel)]="recievePayment.paymentMode">
              <ion-select-option *ngFor="let item of paymentModes">{{ item.paymentMode }}</ion-select-option>
              <ion-select-option value="Settlement against Advance">By Wallet</ion-select-option>
              <!-- {{#notequal invoices.loyaltyPointsDef.loyaltyProvider 'DocEngage'}}
              <option id="percentage" value="Loyalty Card">By Loyalty Card</option>
            {{/notequal}}-->
              <ion-select-option value="Gift Card">Gift Card</ion-select-option>
              <ion-select-option value="Coupon Code">Coupon Code</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="addToWallet">
      <ion-row style="border-bottom: 1px solid #cecbcb;margin-top: -15px;">
        <ion-col size="6">
          <ion-item class="paddingLeftZero" lines="none">
            Balance Amount </ion-item>
          <ion-item class="paddingLeftZero" *ngIf="walletAmount && walletAmount > 0 " lines="none">
            Wallet Amount
          </ion-item>
          <ion-item class="paddingLeftZero" lines="none">
            Payment Amount
          </ion-item>
          <ion-item class="paddingLeftZero" lines="none">
            Payment Mode
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="paddingLeftZero" lines="none">
            &#x20b9;{{ invoiceInfo.balance_amount }} </ion-item>
          <ion-item class="paddingLeftZero" *ngIf="walletAmount && walletAmount > 0">
            &#x20b9;{{ walletAmount }}</ion-item>
          <ion-item class="paddingLeftZero">
            <ion-input type="number" (oninput)="settingDueDate()" maxlength="7" placeholder="Enter Amount"
              [(ngModel)]="recievePayment.paymntAmount"></ion-input>
          </ion-item>
          <ion-item class="paddingLeftZero" style="width: 200%;" lines="none">
            <span class="paddingZero"> <i class="fa fa-rupee"></i> </span>
            <ion-select interface="popover" placeholder="Select Mode" class="paddingLeft5"
              [(ngModel)]="recievePayment.paymentMode">
              <ion-select-option *ngFor="let item of paymentModes">{{ item.paymentMode }}</ion-select-option>
              <ion-select-option value="Settlement against Advance">By Wallet</ion-select-option>
              <!-- {{#notequal invoices.loyaltyPointsDef.loyaltyProvider 'DocEngage'}}
              <option id="percentage" value="Loyalty Card">By Loyalty Card</option>
            {{/notequal}}-->
              <ion-select-option value="Gift Card">Gift Card</ion-select-option>
              <ion-select-option value="Coupon Code">Coupon Code</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-item *ngIf="!addToWallet">
    <ion-label position="stacked">Due Date</ion-label>
    <ion-datetime class="textAlignRight" displayFormat="DD-MM-YYYY" min="{{minDate}}" [(ngModel)]="targetDate">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      <ion-text *ngIf="recievePayment.paymentMode === 'Coupon Code'" color="danger">*</ion-text>Note
    </ion-label>
    <ion-textarea rows="3" [(ngModel)]="recievePayment.notes"> </ion-textarea>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
      </ion-col>
      <ion-col>
        <ion-chip *ngIf="!addToWallet" color="primary" (click)="payBill()">
          <ion-icon name="cash"></ion-icon>
          <ion-label>Pay Now</ion-label>
        </ion-chip>
        <ion-chip *ngIf="addToWallet" color="primary" (click)="addWalletAmount()">
          <ion-icon name="cash"></ion-icon>
          <ion-label>Add Now</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>