    .header-md::after{
        background-image: none !important;
    }
    .has-refresher > .scroll-content{
        border-top: 1px solid #fff !important;
    }
    .list-md .item-block .item-inner {
        border-bottom: none !important;
    }
    .toolbar .toolbar-background-md {
        background-color: #fff !important;
    }
    .item-md.item-block .item-inner {
        border-bottom: none !important
    }
    .item-block .item-inner {
        border-bottom: none !important
    }
    .back-button-Style{
        zoom: 1.4 !important;
        margin-top: 0.5em !important;
        margin-left: 4px !important;
    }

    .text-transaction{
        color: #84878a;
        margin-top: 7px;
        margin-bottom: 3em;
        font-size: 1.3rem;
       text-align: right;
    }
    .text-img {
        background-color: #05838314 !important;
        color:#058383;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 3rem;
    }
    .card-md{
        margin: 2em 0em 3em 0.8em;
        border-radius: 1em;
    }
    .card-header-md{
        padding: 5px !important;
    }
    .ios-cardStyles {
        margin: 2em 0em 3em 0.8em;
        border-radius: 1em;
        padding: 5px !important;
    }
    .text-header{
        font-size: 2em;
        color: #fc6f61;
        text-align: center;
    }
    .text-header-id{
        color: #84878a;
        margin-top: -1em;
        text-align: center;
    }
    .itemStyle{
        font-size: 20px ;
        font-weight: bold ;
        color: #287CB3 ;
        text-align: center ;
        margin: -4px 0px 10px 0px ;
    }
    .pull-left{
        float: left;
        text-align: left;
    }
    .scroll-content {
        margin-top: 7px !important;
    }
    .padding10{
        padding: 10px;
    }
    .padding5{
        padding: 5px ;  
    } 
    .padding0{
        padding: 0px !important;
    }
    .sc-ion-card-md-s img {
        padding: 8px;
    }
    .sc-ion-card-ios-s img {
    padding: 3px
    }
    
    


