<!--
  Generated template for the SelectTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="ion-padding">
  <ion-icon name="arrow-back" (click)="dismiss(false)" style="zoom: 1.4 !important; margin-top: 0.5em !important;
  margin-left: 4px !important;"></ion-icon>

  <ion-item lines="none" style="text-align: center;">
    <ion-col>
      <h3 style="color: #287CB3; margin: -4px 0px 10px 0px ;">
        {{patient.name}}</h3>
      <ion-label style="font-size: smaller;font-weight: bolder; color: #84878a;">{{patient.localId}}</ion-label>
    </ion-col>
  </ion-item>
  <ion-col>
    <h3 style="font-weight: normal;">Select Transaction</h3>
    <ion-label style="color: #84878a;"> Select your transaction and pay</ion-label>
  </ion-col>
  <br />

  <ion-card (click)="addWalletAmount()" class="ios-cardStyles">
    <ion-card-header class="padding0">
      <ion-grid>
        <ion-row>
          <ion-col size="11">
            <div class="text-img" style="float: left;margin-top: -5px;">
              <img src="./assets/img/wallet.png" alt="Ionic logo" style="padding: 14px;">
            </div>
            <span style="color: #2980b9; font-weight: bolder;font-size: initial; ">
              Pay Wallet <br />
            </span>
            <span style="font-size: small; color: #84878a;" *ngIf="walletAmount && walletAmount > 0">
              Available balance &#x20b9;{{ walletAmount }}
            </span>
            <span style="font-size: small; color: #84878a;" *ngIf="!walletAmount || walletAmount < 0">
              Available balance &#x20b9;0
            </span>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="arrow-forward" style="zoom: 1.8;float: right;margin-top: 2px;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="invoiceShow" (click)="showPatientInvoice();" class="ios-cardStyles">
    <ion-card-header class="padding0">
      <ion-grid>
        <ion-row>
          <ion-col size="11">
            <div class="text-img" style="float: left;margin-top: -5px;">
              <img src="./assets/img/invoice.png" alt="Ionic logo" style="padding: 14px;">
            </div>
            <span style="color: #2980b9; font-weight: bolder;font-size: initial;">
              Pay Invoice <br />
            </span>
            <span style="font-size: small; color: #84878a;">
              Click for invoices
            </span>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="arrow-forward" style="zoom: 1.8;float: right;margin-top: 2px;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>