<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="providerInfo">

    <ion-list>
      <ion-item lines="none">

        <ion-thumbnail (click)="presentActionSheet()" *ngIf="checkPatientHasImage(providerInfo.image)">
          <img src="{{providerInfo.image}}">
        </ion-thumbnail>
        <ion-thumbnail (click)="presentActionSheet()" *ngIf="!checkPatientHasImage(providerInfo.image)">
          <app-new-txt-img [text]="providerInfo.name"></app-new-txt-img>
        </ion-thumbnail>
        <ion-col>
          <b>{{providerInfo.name}}</b>
          <p class="smallFont marginTop0"><span *ngIf="providerInfo.degree"> {{providerInfo.degree}} , </span>
            <span *ngIf="providerInfo.age">{{providerInfo.age | number:0}} </span>
            <span name="male" *ngIf="providerInfo.gender=='Female'">F</span>
            <span name="female" *ngIf="providerInfo.gender=='Male'">M</span>
            <span *ngIf="providerInfo.gender=='Others'">O</span>
          </p>
        </ion-col>
      </ion-item>

      <ion-row>
        <ion-item lines="none" size='6'>
          <ion-label position="fixed">Employee Id</ion-label>
        </ion-item>
        <ion-col size='6' class="marginTop5">
          <p position="fixed">{{providerInfo.employeeId}}</p>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-item lines="none" size='6'>
          <ion-label position="fixed">Mobile</ion-label>
        </ion-item>
        <ion-col size='6' class="marginTop5">
          <p position="fixed">{{providerInfo.telephone}}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-item lines="none" size='6'>
          <ion-label position="fixed">Email</ion-label>
        </ion-item>
        <ion-col size='6' class="ion-text-wrap marginTop5">
          <p position="fixed">{{providerInfo.email}}</p>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-item lines="none" size='6'>
          <ion-label position="fixed">Speciality</ion-label>
        </ion-item>
        <ion-col size='6' class="ion-text-wrap marginTop5">
          <p position="fixed">{{providerInfo.speciality}}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-item lines="none" size='6'>
          <ion-label>Care Centers</ion-label>
        </ion-item>
        <ion-col size='6' class="ion-text-wrap marginTop5">
          <p position="fixed">{{providerInfo.associateCareCenters}}</p>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>
</ion-content>