<ion-tabs>
  <ion-tab-bar #myTabBar slot="bottom">
    <ion-tab-button *ngFor="let tab of tabs" tab={{tab.root}}>
    <ion-icon name={{tab.icon}}></ion-icon>
    <ion-label>{{tab.title}}</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>