<ion-header class="no-bg-color" style="position: unset !important;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu" style="zoom: 1.6;"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      Payment
    </ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col size="6" style="text-align: center;">
      <ion-chip *ngIf="invoiceShow" [ngClass]="{'bg-color': invoiceShow}"
        style="width: 9em;box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 10px 0px;">
        <ion-label *ngIf="showInvSpinner" class="labelStyle marginLeft2">
          <ion-spinner name="dots" class="bg-color"></ion-spinner>
        </ion-label>
        <ion-label *ngIf="!showInvSpinner" class=" labelStyle">Pay By Invoice</ion-label>
      </ion-chip>
      <ion-chip *ngIf="!invoiceShow" class="no-bg-color" style="width: 9em;" (click)="invoicePay()">
        <ion-label class="labelStyle">Pay By Invoice</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col size="6" style="text-align: center;">
      <ion-chip *ngIf="walletColor" [ngClass]="{'bg-color': walletColor}"
        style="width: 9em;box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 10px 0px;">
        <ion-label *ngIf="showSpinner" class="labelStyle marginLeft2">
          <ion-spinner name="dots" class="bg-color"></ion-spinner>
        </ion-label>
        <ion-label *ngIf="!showSpinner" class=" labelStyle">Pay By Patients
        </ion-label>
      </ion-chip>
      <ion-chip *ngIf="!walletColor" class="no-bg-color" style="width: 9em;" (click)="walletPay()">
        <ion-label class="labelStyle">Pay By Patients
        </ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-searchbar #allLeadsSearch class="ion-no-border" *ngIf="invoiceShow" placeholder="Search by Invoice Id "
      [(ngModel)]="searchTerm" autocomplete="on" inputmode="search" animated (ionChange)="onSearchInv();"
      class="ion-padding ">
    </ion-searchbar>
    <ion-searchbar #allLeadsSearch class="ion-no-border" *ngIf="!invoiceShow" placeholder="Search by ID/Name/Phone no "
      [(ngModel)]="searchPatient" autocomplete="on" inputmode="search" animated (ionChange)="onSearchPatient();"
      class="ion-padding ">
    </ion-searchbar>
  </ion-row>
</ion-header>

<ion-content>

  <ion-refresher class="no-bg-color" slot="fixed" *ngIf="invoiceShow" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-refresher class="no-bg-color" slot="fixed" *ngIf="!invoiceShow" (ionRefresh)="doRefreshPatient($event)">
    <ion-refresher-content pullingIcon="arrow-down" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-row class="gridStyling" style="margin-top: 0px;" *ngFor="let inv of invoices; let i = index"
    [attr.data-index]="i" (click)="showInvContentData(i)">
    <ion-grid *ngIf="invoiceShow">
      <ion-card style="border-radius: 1em;">
        <ion-card-header class="cardHeaderStyle">
          <ion-item lines="none">
            <ion-avatar slot="start" *ngIf="checkPatientHasImage(inv.image)">
              <img src="{{inv.image}}">
            </ion-avatar>

            <ion-avatar slot="start" *ngIf="!checkPatientHasImage(inv.image)">
              <app-new-txt-img [text]="inv.fullname"></app-new-txt-img>
            </ion-avatar>
            <ion-label>
              <h3>
                <span *ngIf="inv.fullname.length <= 15">{{ inv.fullname }}
                </span>
                <span *ngIf="inv.fullname.length >15">{{ inv.fullname | slice:0:15 }}...
                </span>
                <span class="ion-float-right ion-text-uppercase" *ngIf="inv.status.length <=18">
                  <ion-badge *ngIf="inv.status === 'invoiced'" class="pullRight" color="secondary"
                    style="text-transform: capitalize;">{{ inv.status }}</ion-badge>
                  <ion-badge *ngIf="inv.status === 'partiallypaid'" class="pullRight partiallypaid " color="tertiary"
                    style="text-transform: capitalize;">{{ inv.status }}</ion-badge>
                  <ion-badge *ngIf="inv.status === 'completed'" class="pullRight" color="success"
                    style="text-transform: capitalize;">
                    {{ inv.status }}</ion-badge>
                  <ion-badge *ngIf="inv.status === 'draft'" class=" pullRight draft" color="warning"
                    style="text-transform: capitalize;">{{ inv.status }}</ion-badge>
                  <ion-badge *ngIf="inv.status === 'waitingforapproval'" class="pullRight" color="danger"
                    style="text-transform: capitalize;">{{ inv.status }}</ion-badge>
                  <ion-badge *ngIf="inv.status === 'l1approved'" class="pullRight L1APPROVED" color="medium"
                    style="text-transform: capitalize;">{{ inv.status }}</ion-badge>
                  <ion-badge *ngIf="inv.status === 'excessPaid'" class="pullRight excessPaid" color="light"
                    style="text-transform: capitalize;">{{ inv.status }}</ion-badge>
                </span>

                <span class="ion-float-right ion-text-uppercase" *ngIf="inv.status.length >18">
                  <ion-badge *ngIf="inv.status === 'invoiced'" class="pullRight" color="secondary"
                    style="text-transform: capitalize;">{{ inv.status| slice:0:18 }}...</ion-badge>
                  <ion-badge *ngIf="inv.status === 'partiallypaid'" class="pullRight partiallypaid " color="tertiary"
                    style="text-transform: capitalize;">{{ inv.status| slice:0:18 }}...</ion-badge>
                  <ion-badge *ngIf="inv.status === 'completed'" class="pullRight" color="success"
                    style="text-transform: capitalize;">
                    {{ inv.status| slice:0:18 }}...</ion-badge>
                  <ion-badge *ngIf="inv.status === 'draft'" class=" pullRight draft" color="warning"
                    style="text-transform: capitalize;">{{ inv.status| slice:0:18 }}...</ion-badge>
                  <ion-badge *ngIf="inv.status === 'waitingforapproval'" class="pullRight" color="danger"
                    style="text-transform: capitalize;">{{ inv.status| slice:0:18 }}...</ion-badge>
                  <ion-badge *ngIf="inv.status === 'l1approved'" class="pullRight L1APPROVED" color="medium"
                    style="text-transform: capitalize;">{{ inv.status| slice:0:18 }}...</ion-badge>
                  <ion-badge *ngIf="inv.status === 'excessPaid'" class="pullRight excessPaid" color="light"
                    style="text-transform: capitalize;">{{ inv.status| slice:0:18 }}...</ion-badge>
                </span>
              </h3>
            </ion-label>
          </ion-item>
          <p class="small-txt invoiceRef">
            {{ inv.invoice_ref }} &nbsp;
          </p>


          <ion-grid>
            <ion-row class="small-txt marginLeftImp4">
              <ion-col size="6">
                <p *ngIf="inv && !inv.showContent && inv.balance_amount>0" style="margin-top: -6px;">
                  Due &nbsp;
                </p>
                <p *ngIf="inv && !inv.showContent && inv.balance_amount>0 && inv.formatedDate"
                  style="margin-top: -6px;">
                  Due Date
                </p>
              </ion-col>
              <ion-col size="6">
                <p *ngIf="inv && !inv.showContent && inv.balance_amount>0" style="margin-top: -6px;">
                  <i class="fa fa-rupee"></i> &#x20b9;{{ inv.balance_amount }}
                </p>
                <p *ngIf="inv && !inv.showContent && inv.balance_amount>0 && inv.formatedDate"
                  style="margin-top: -6px;">
                  {{ inv.formatedDate }}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-chip *ngIf="inv && !inv.showContent && inv.balance_amount>0" color="secondary"
            (click)="receivePayment(inv)" style="width: 8em;margin: 0% 0% 9% 25%">
            <ion-icon color="secondary" name="cash" style="margin-left: 5px;"></ion-icon>
            <ion-label class=" marginTop12" style="margin: 0px;">
              Pay Due
            </ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content *ngIf="inv.showContent" style="display: unset !important;">
          <ion-grid class="paddingZero" style="margin-left: 2.9em;">
            <ion-row class="paddingZero" style="margin: -6% 0px -4px 8px;">
              <ion-col size="6" class="paddingZero">
                <p>No of Items</p>
                <p>Due Date</p>
                <p>Loyality Points</p>
                <p>Final Amount</p>
                <p>Paid</p>
                <p *ngIf="inv && inv.balance_amount>0" style="color: #c0392b;">Balance Amount</p>
              </ion-col>
              <ion-col size="6" class="paddingZero">
                <p> {{ inv.invoiceItems }}</p>
                <p *ngIf="inv && inv.formatedDate"> {{ inv.formatedDate }}</p>
                <p *ngIf="inv && !inv.formatedDate"> - </p>
                <p> {{ inv.loyalty_points }} </p>
                <p> <i class="fa fa-rupee"></i>&#x20b9;{{ inv.final_amount }}</p>
                <p><i class="fa fa-rupee"></i>&#x20b9;{{ inv.paidamt }}</p>
                <p *ngIf="inv && inv.balance_amount>0" style="color: #c0392b;"> <i
                    class="fa fa-rupee"></i>&#x20b9;{{ inv.balance_amount }}</p>

              </ion-col>
            </ion-row>
            <ion-row class="paddingZero" style="margin: -10px 0px 10px 8px;">
              <p>{{ inv.date_created1 }}</p><br />
              <p style="margin: 0px;">
                <ion-icon name="medkit"></ion-icon> &nbsp;{{ inv.care_center_name }}
              </p>
            </ion-row>
            <ion-chip *ngIf="inv.balance_amount>0" color="secondary" (click)="receivePayment(inv)" class="marginLeft2">
              <ion-icon color="secondary" name="cash"></ion-icon>
              <ion-label>
                Pay Due</ion-label>
            </ion-chip>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-row>

  <ion-list *ngIf="!invoiceShow">

    <ion-item-sliding *ngFor="let item of patients ">
      <ion-card style="border-radius: 1em;">
        <ion-item button (click)="selectTransaction(item);" lines="none">
          <ion-avatar slot="start" *ngIf="checkPatientHasImage(item.image)">
            <img src="{{item.image}}">
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="!checkPatientHasImage(item.image)">
            <app-new-txt-img [text]="item.name"></app-new-txt-img>
          </ion-avatar>
          <ion-col>
            <p class="ion-text-capitalize" class="margin0"> <span>{{item.name}}</span> <span
                class="smallFont greyColor">
                <span *ngIf="item.age"> {{item.age}}</span>
                <span *ngIf="item.gender=='Female'"> F</span><span *ngIf="item.gender=='Male'"> M</span><span
                  *ngIf="item.gender=='Others'"> O</span></span></p>
            <p class="ion-text-uppercase" *ngIf="item.registeredDate" class="margin0 smallFont greyColor">
              {{item.localId}}
            </p>
            <p class="ion-text-uppercase" *ngIf="item.registeredDate" class="margin0 smallFont greyColor">
              {{item.registeredDate}}
            </p>
          </ion-col>
        </ion-item>

        <ion-item-options side="start">
          <ion-button (click)="getWalletAmount(item)" class="walletSlide" fill="clear">
            <img src="./assets/img/wallet.png" alt="Ionic logo">
          </ion-button>
        </ion-item-options>

        <ion-item-options *ngIf="showPatInvoice" side="end">
          <ion-button (click)="showPatientInvoice(item)" class="invoiceSlide" fill="clear">
            <img src="./assets/img/invoice.png" alt="Ionic logo">
          </ion-button>
        </ion-item-options>
      </ion-card>
    </ion-item-sliding>

  </ion-list>

  <ion-list-header *ngIf="noRecordFound">
    {{noRecordFound}}
  </ion-list-header>
  <ion-list-header *ngIf="noPatientRecordFound">
    {{noPatientRecordFound}}
  </ion-list-header>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="invoiceShow && currentPage < totalPages">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll (ionInfinite)="doInfinitePatient($event)"
    *ngIf="!invoiceShow && currentPatientPage < totalPatientPages">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>