
.center{
    text-align: center !important; 
}
.primaryColor{
 background-color: #3880ff;
 color: #fff;
}
.colorWhite{
    color: #fff !important;
}

.handpointer {
    cursor: pointer;
}
.cursor-auto {
    cursor: auto;
}

.text-wrapper{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.patientCard{
    box-shadow: none !important;
    margin: 0 !important;
}
.txtColor{
    color: black;
}
.no-bg-color{
    background-color: #fff;
}
.bg-color{
    background-color: #058383;
    color: #fff;
}
.small-txt{
    font-size: 88%;
}
.alignme{
    text-align: right;
}
.searchbar{
    margin-left: 0.7em;
    margin-right: 0.7em;
 }
 .marginTop12{
    margin-top: 2.2em;
 }
 .paddingTopBottom5{
    padding-top: 5px;
    padding-bottom: 5px;
 }
 .paddingBottom0{
    padding-bottom: 0px;
 }
   page-leads {

//    .toolbar-ios .segment-button{
//         max-width: $width-70;
//    }
   .badgeDesign{
        padding: 1px;
        padding-left: 5px;
        padding-right: 5px;
   }
   .maxWidth150{
       max-width: 150px;
   }
   .activityLeftSec{
        width: 3px;
        min-width: 3px;
        min-height: 40px;
    }

   .completedBg{
    background: #14892c;
    }

    .WaitingForApproval{
        background: #fc6f61 ;
    }
    .cancelledBg{
        background: #f53d3d;
    }
    .excessPaid{
        background: #9c9e07;
    }
    .newBg{
        background: #1c3a5c;
    }
    .completed{
        background: #14892c;
    }
    .invoiced{
        background: #10ddeb;
    }
    .draft{
        background: #F1B329 ;
    }
    .L1APPROVED{
        background: #fa0795;
    }
    .partiallypaid{
        background: #1a25bc;
    }
    .pullRight{
        float: right;
    }
    .pullLeft{
        float: left;
    }
    .cardHeader{
        background: linear-gradient(180deg, #ebf0f1, transparent);
    }
    .itemSection{
        border-bottom: 1px solid #bbb9b9;
        padding-bottom: 4px;
        margin-bottom: 8px;
    }
    .item-md.item-block .item-inner{
        padding-right: 0px;
    }
    .width55{
        width: 55px;
    }
    .paddingZero{
        padding: 0px;
    }

    .labelStyle{
        font-size: small;
        text-align: center;
    }
    .searchbar-ios{
        background: #fff !important;
    }
    .searchbar-ios .searchbar-input {
        border-radius: 30px !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .searchbar-md .searchbar-input {
        border-radius: 30px !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
      }
      .gridStyling{
        box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 9px 0px;
        margin: 14px;
        border-radius: 20px;
      }
      .borderRadius-md{
        border-radius: 1em !important;
      }
      .patListStyling{
        box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 9px 0px;
        margin: 6px 0px 15px 19px;
        border-radius: 20px;
      }
      .has-refresher > .scroll-content{
        border-top: 1px solid #fff !important;
      }
    .header-md::after{
        background-image: none !important;
    
    }
    .list-md .item-block .item-inner {
        border-bottom: none !important;
    }
    .spinner-md-dots circle {
        fill: #fff;
    }
   }
   .marginLeft2{
     margin-left: 2em;  
   }
   .marginLeft4{
    margin-left: 4.2em;
   }
   .marginLeftImp4{
       margin-left: 4rem !important;
   }
   .spinnerMargin{
    margin-left: 2.1em
   }
   .margin0{
       margin: 0px !important;
   }
.sc-ion-card-ios-h{
    box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 9px 0px !important;
        margin: 6px 15px 15px 15px !important;
        border-radius: 20px !important;
}
.smallFont{
    font-size: small;
}
.greyColor{
    color: #666;
}
.ion-header{
    position: unset !important;
}
.invoiceSlide{
    background-color: #05838314;
    height: 65px;
    margin-top: -2px; 
    margin-right: -1px; 
}
.walletSlide{
    background-color: #05838314;
    height: 65px;
    margin-top: -2px; 
    margin-left: -1px; 
}
.cardHeaderStyle{
    padding: 0px !important;
    padding-top: 5px !important;
    margin-bottom: -16px !important;
}
.invoiceRef{
    margin: 0px 0px 4px 4.6rem;
}
.ion-color-warning{
    --ion-color-contrast :var(--ion-color-primary-contrast, #fff) !important;
}
.ion-color-danger {
    --ion-color-base: var(--ion-color-WaitingForApproval, #fc6f61) !important;
}
.ion-color-tertiary {
    --ion-color-base: var(--ion-color-partiallypaid, #1a25bc) !important;
}
.ion-color-medium {
    --ion-color-base: var(  --ion-color-l1approved, #fc0796) !important;
}
.ion-color-light {
    --ion-color-base: var(--ion-color-excessPaid, #9c9e07) !important;
}
