
    .back-button-style{
        zoom: 1.4;
        margin-top: 0.8em;
        margin-left: 5px;
    }
    .header-md::after{
        background-image: none !important;
    }
    .has-refresher > .scroll-content{
        border-top: 1px solid #fff !important;
    }
    .list-md .item-block .item-inner {
        border-bottom: none !important;
    }
    .toolbar .toolbar-background-md {
        background-color: #fff !important;
    }
    .text-transaction{
        color: #84878a ;
        margin-bottom: 3em !important;
        font-size: smaller;
    }
    .pull-left{
        float: left ;
        text-align: left ;
    }
    .scroll-content {
        padding: 8px !important;
        margin-top: 70px !important;
    }
    .text-box-item {
        font-size: 2em;
        width: 10.4em;
    }
    .button-styling{
        border-radius: 6px;
        width: 15em;
        height: 3em;
        font-size: initial;
        margin: 1em;
        text-transform: none;
    }
    .spinner-md-dots circle {
        fill: #fff;
    }
    .titleStyle{
        font-size: 1.2rem;
        font-weight: normal;
        margin-top: -20px !important;
    }
    .marginTop2{
        margin-top: 2.5rem;
    }
    .gray-txt{
        color:   #777474;

    }


