<ion-header class="ion-padding">
  <ion-icon name="arrow-back" class="back-button-style" (click)="dismiss(false)"></ion-icon>
</ion-header>
<ion-content class="ion-padding">

  <h2 class="titleStyle">Add Wallet Amount</h2>
  <br />
  <ion-item class="text-box-item marginTop2">
    <ion-input type="number" placeholder="Amount" [(ngModel)]="recievePayment.paymntAmount"></ion-input>
  </ion-item>
  <ion-item style="margin: 1em 0px 2em 0px;">
    <ion-select interface="action-sheet" placeholder="Select Mode" class="paddingLeft5"
      [(ngModel)]="recievePayment.paymentMode" style="max-width: 70%;">
      <ion-select-option *ngFor="let item of paymentModes">{{ item.paymentMode }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label class="gray-txt" position="stacked"> Note </ion-label>
    <ion-textarea rows="3" [(ngModel)]="recievePayment.notes"> </ion-textarea>
  </ion-item>
  <ion-button class="button-styling" (click)="addWalletAmount()">
    <span *ngIf="showSpinner">
      Proceed To Add &nbsp; &nbsp;
      <span *ngIf="recievePayment.paymntAmount && recievePayment.paymntAmount>0">
        &#x20b9; {{ recievePayment.paymntAmount }}
      </span>
    </span>
    <span *ngIf="!showSpinner">
      <ion-spinner name="dots"></ion-spinner>
    </span>
  </ion-button>
</ion-content>