ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  ion-item.selected {
    --color: var(--ion-color-primary);
  }
  ion-menu.md ion-item ion-icon {
    color: #616e7e;
  }
  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }