
    .handpointer {
        cursor: pointer;
    }
    .cursor-auto {
        cursor: auto;
    }
    
    .text-wrapper{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .patientCard{
        box-shadow: none !important;
        margin: 0 !important;
    }
    .txtColor{
        color: black;
    }
    .no-bg-color{
        background-color: #fff;
    }
    .bg-color{
        background-color: #058383;
        color: #fff;
    }
    .small-txt{
        font-size: 88%;
    }
    .alignme{
        text-align: right;
    }
    .searchbar{
        width: auto;
        margin-left: 10px;
     }
     .marginTop12{
        margin-top: 2.2em;
     }
     .marginTop6{
        margin-top: -6px;
     }
     .paddingTopBottom5{
        padding-top: 5px;
        padding-bottom: 5px;
     }
     .paddingBottom0{
        padding-bottom: 0px;
     }
    
    //    .toolbar-ios .segment-button{
    //         max-width: $width-70;
    //    }
       .badgeDesign{
            padding: 1px;
            padding-left: 5px;
            padding-right: 5px;
       }
       .maxWidth150{
           max-width: 150px;
       }
       .activityLeftSec{
            width: 3px;
            min-width: 3px;
            min-height: 40px;
        }
    
       .completedBg{
        background: #14892c;
        }
    
        .ScheduledBg{
            background: #fc6f61;
        }
        .cancelledBg{
            background: #f53d3d;
        }
        .convertedBg{
            background: #9c9e07;
        }
        .newBg{
            background: #1c3a5c;
        }
        .onlyQueryBg{
            background: #17eb10;
        }
        .qualifiedBg{
            background: #10ddeb;
        }
        .repeatFollowUpBg{
            background: #facd07;
        }
        .verification-RequestedBg{
            background: #fa0795;
        }
        .ownStatusBg{
            background: #1a25bc;
        }
        .pullRight{
            float: right;
        }
        .pullLeft{
            float: left;
        }
        .cardHeader{
            background: linear-gradient(180deg, #ebf0f1, transparent);
        }
        .itemSection{
            border-bottom: 1px solid #bbb9b9;
            padding-bottom: 4px;
            margin-bottom: 8px;
        }
        .item-md.item-block .item-inner{
            padding-right: 0px;
        }
        .width55{
            width: 55px;
        }
        .paddingZero{
            padding: 0px;
        }
        .labelStyle{
            font-size: small;
            text-align: center;
        }
        .searchbar-md .searchbar-input {
            border-radius: 30px !important;
          }
          .gridStyling{
            box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 9px 0px;
            margin: 14px;
            border-radius: 20px;
          }
          .patListStyling{
            box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 9px 0px;
            margin: 6px 0px 15px 19px;
            border-radius: 20px;
            width: 23.7em;;
          }
          .has-refresher > .scroll-content{
            border-top: 1px solid #fff !important;
          }
        .header-md::after{
            background-image: none !important;
        
        }
        .list-md .item-block .item-inner {
            border-bottom: none !important;
        }
        .item-block .item-inner {
            border-bottom: none !important;
            background-color: #fff;
        }
        .text-header{
            font-size: 2em;
            color: #fc6f61;
            text-align: center;
        }
        .text-header-id{
            color: #84878a;
            margin-top: -1em;
            text-align: center;
        }
        .itemStyle{
            font-size: 20px;
            font-weight: bold;
            color: #287CB3;
            text-align: center;
        }
        .iconStyling{
            zoom: 1.4;
            font-size: 19px;
            color: black;
            float: left;
        }
        .item-md.item-block .item-inner {
            border-bottom: none;
        }
        .marginLeft2{
            margin-left: 2rem;  
        }
        .cardHeaderStyle{
            padding: 0px !important;
            padding-top: 5px !important;
        }
        .marginLeft4{
            margin-left: 4px !important;
        }
        .invoiceRef{
            margin: 0px 0px 4px 4.3em;
        }
        .marginLeft3{
            margin-left: 3.2rem !important;
        }

