<ion-header>
  <ion-item style="margin-top: 1.4em; margin-left: 3px;" lines="none">
    <ion-icon class="iconStyling" name="arrow-back" style="zoom:1.4;" (click)="dismiss(false)"></ion-icon>
    <ion-col>
      <h3 class="itemStyle">{{patient.name}}</h3>
      <ion-label class="labelStyle">{{patient.localId}}</ion-label>
    </ion-col>
  </ion-item>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="animatedStyle bounceInLeft gridStyling" *ngFor="let inv of invoices; let i = index"
    [attr.data-index]="i" (click)="showInvContentData(i)">
    <ion-grid>
      <ion-card-header class="cardHeaderStyle">
        <ion-item lines="none">
          <ion-avatar *ngIf="checkPatientHasImage(inv.image)">
            <img src="{{inv.image}}">
          </ion-avatar>
          <ion-avatar *ngIf="!checkPatientHasImage(inv.image)">
            <app-new-txt-img [text]="inv.fullname"></app-new-txt-img>
          </ion-avatar>
          <ion-label class="marginLeft4 ">{{ inv.fullname }}</ion-label><br />
          <ion-badge class="pullRight" style="text-transform: capitalize;">{{ inv.status }}</ion-badge>
        </ion-item>
        <p class="small-txt invoiceRef">
          {{ inv.invoice_ref }} &nbsp;
        </p>

        <ion-grid>
          <ion-row class="paddingZero small-txt marginLeft3">
            <ion-col size="6">
              <p *ngIf="inv && !inv.showContent && inv.balance_amount>0" class="marginTop6">
                Due &nbsp;
              </p>
              <p *ngIf="inv && !inv.showContent && inv.balance_amount>0 && inv.formatedDate" class="marginTop6">
                Due Date
              </p>
            </ion-col>
            <ion-col size="6">
              <p *ngIf="inv && !inv.showContent && inv.balance_amount>0" class="marginTop6">
                <i class="fa fa-rupee"></i> &#x20b9;{{ inv.balance_amount }}
              </p>
              <p *ngIf="inv && !inv.showContent && inv.balance_amount>0 && inv.formatedDate" class="marginTop6">
                {{ inv.formatedDate }}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-chip *ngIf="inv && !inv.showContent && inv.balance_amount>0" color="secondary"
          (click)="recievePayment(inv)" style="width: 8em;margin: 0% 0% 7% 25%">
          <ion-icon color="secondary" name="cash" style="margin-left: 5px;"></ion-icon>
          <ion-label class=" marginTop12" style="margin: 0px;">
            Pay Due
          </ion-label>
        </ion-chip>
      </ion-card-header>
      <ion-card-content *ngIf="inv.showContent" style="display: unset !important;">
        <ion-grid class="paddingZero" style="margin-left: 1.5em;">
          <ion-row class="paddingZero" style="margin: -6% 0px -4px 8px;">
            <ion-col size="6" class="paddingZero">
              <p>No of Items</p>
              <p>Due Date</p>
              <p>Loyality Points</p>
              <p>Final Amount</p>
              <p>Paid</p>
              <p *ngIf="inv && inv.balance_amount>0" style="color: #c0392b;">Balance Amount</p>
            </ion-col>
            <ion-col size="6" class="paddingZero">
              <p> {{ inv.invoiceItems }}</p>
              <p *ngIf="inv && inv.formatedDate"> {{ inv.formatedDate }}</p>
              <p *ngIf="inv && !inv.formatedDate"> - </p>
              <p> {{ inv.loyalty_points }} </p>
              <p> <i class="fa fa-rupee"></i>&#x20b9;{{ inv.final_amount }}</p>
              <p><i class="fa fa-rupee"></i>&#x20b9;{{ inv.paidamt }}</p>
              <p *ngIf="inv && inv.balance_amount>0" style="color: #c0392b;">
                <i class="fa fa-rupee"></i>&#x20b9;{{ inv.balance_amount }}</p>
            </ion-col>
          </ion-row>
          <ion-row class="paddingZero" style="margin: 10px 0px 10px 8px;">
            <p>{{ inv.date_created1 }}</p>
            <p style="margin: 0px;">
              <ion-icon name="medkit"></ion-icon> &nbsp;{{ inv.care_center_name }}
            </p>
          </ion-row>
          <ion-chip *ngIf="inv.balance_amount>0" color="secondary" (click)="recievePayment(inv)" class="marginLeft3">
            <ion-icon color="secondary" name="cash" style="margin-left: 5px;"></ion-icon>
            <ion-label style="margin: 0px;">
              Pay Due</ion-label>
          </ion-chip>
        </ion-grid>
      </ion-card-content>
    </ion-grid>

  </ion-row>
  <ion-list-header style="text-align: center;" *ngIf="noRecordFound">
    {{noRecordFound}}
  </ion-list-header>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="currentPage < totalPages">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>