<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Configuration
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="saveEnvChanges()">Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group [(ngModel)]="appBaseUrl" (ionChange)="onChangeENV()">
      <ion-list-header>
        Environment
      </ion-list-header>

      <ion-item>
        <ion-label>Production Account</ion-label>
        <ion-radio value="environment"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Stage Account</ion-label>
        <ion-radio value="stageEnv"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Custom Account</ion-label>
        <ion-radio value="customEnv"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item *ngIf="isCustomUrl">
    <ion-label position="floating"><span class="reset-filters">* </span>Custom URL</ion-label>
    <ion-input type="text" [(ngModel)]="customURL" clearInput autocomplete="off"></ion-input>
  </ion-item>


</ion-content>