.logo {
    padding: 20px 0;
    text-align: center;
    
    img {
      max-width: 150px;
    }
  }
    
  .list {
    margin-bottom: 0;
  }
  .list-ios > .item-block:first-child {
    border-top: none;
  }
  .button-small-md {
    height: 1.5em;
    font-size: 1.3rem;
    padding: 0 0.9em;
    margin-top: -5px;
    background: #de5858;
  }
