<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="openSettings()">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <img src="../../assets/img/logo2X.png" alt="Ionic logo">
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating">LogIn Id</ion-label>
      <ion-input clear-input [(ngModel)]="loginData.loginId" name="username" type="text" spellcheck="false"
        autocapitalize="off"></ion-input>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" ngModel #password="ngModel" clear-input [(ngModel)]="loginData.password"
        type={{passwordType}}></ion-input>
      <ion-button *ngIf="!showPass" fill="clear" slot="end" size="large" (click)="showPassword()">
        <ion-icon name="eye-off"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showPass" fill="clear" slot="end" size="large" (click)="showPassword()">
        <ion-icon name="eye"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>
  <div class="ion-padding">
    <ion-button color="primary" expand="block" (click)="doLogin()" type="submit">
      Log in
    </ion-button>
  </div>
  <ion-row *ngIf="isErrorExist===true">
    <ion-col *ngIf="errorMessage==='Too many user session'">
      <ion-text color="danger" class="ion-padding-start">

        <p>

          {{errorMessage}}
          Please <ion-button (click)="forceLogout(loginForm)" type="submit" small [color]="danger">Signout</ion-button>
          <br /> from other Devices before you login.

        </p>
      </ion-text>
    </ion-col>
    <ion-col *ngIf="errorMessage!=='Too many user session'">
      <ion-text color="danger" class="ion-padding-start">
        <p>
          {{errorMessage}}
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>